.local{
    color:black;
    text-align: justify;
    font-family: Times New Roman;
    margin-left: 30px;
    font-size: 15px;
    text-decoration: none;
    
    }
    .local2{
        color:black;
        text-align: center center;
        font-family: Times New Roman;
        margin-left: 40px;
        font-size: 30px;
        text-decoration: none;
        
        }

    .red{
      color: red;  
    }

    .final{
     text-align: justify;
     font-family: Times New Roman;
     margin-left: 40px;   
    }
