<ion-header>
  
</ion-header>
<img  class = "topo" src = "assets/imagem/topo.jpg">

<ion-content>
    <div class = "fundo2" expand = "full">  
        <br>
       
       <p class = "local2"><b>SABORES </b></p>
       
       <p class = "local"> <b> Mussarela ------  R$ 25,00 </b><br> 
        <ion-button  (click) = "mussarela()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "mussa()" color = "danger" >Excluir</ion-button> </p>

       <p class = "local"> <b> Presunto  --------  R$ 25,00 </b> <br> 
        <ion-button  (click) = "presunto()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "pre()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Calabresa -------  R$ 25,00</b> <br> 
        <ion-button  (click) = "calabresa()" color = "green">Comprar</ion-button>
        <ion-button  (click) = "cala()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Frango ----------  R$ 25,00</b> <br> 
        <ion-button  (click) = "frango()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "fran()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Baiana ----------  R$ 35,00</b> <br> 
        <ion-button  (click) = "baiana()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "baia()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> 4 carnes --------  R$ 40,00</b> <br> 
        <ion-button  (click) = "quatrocarnes()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "carnes()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> 4 Queijos -------  R$ 40,00</b> <br> 
        <ion-button  (click) = "quatroqueijos()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "queijos()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Palmito ---------  R$ 35,00</b> <br> 
        <ion-button  (click) = "palmito()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "palm()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Portuguesa -----  R$ 35,00</b> <br> 
        <ion-button   (click) = "portuguesa()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "port()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Strogonoff ------  R$ 40,00</b> <br> 
        <ion-button  (click) = "strogonoff()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "strog()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Contra File -----  R$ 40,00</b> <br> 
        <ion-button  (click) = "contrafile()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "contra()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local2"><b> DOCES</b></p>
       <p class = "local"> <b> Brigadeiro ------  R$ 35,00</b> <br> 
        <ion-button (click) = "brigadeiro()"  color = "green">Comprar</ion-button> 
        <ion-button  (click) = "brig()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Morangete ------  R$ 35,00</b> <br> 
        <ion-button  (click) = "morangete()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "mora()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Sorvete ----------  R$ 35,00</b> <br> 
        <ion-button (click) = "sorvete()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "sorv()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Abacaxi ---------  R$ 35,00</b> <br> 
        <ion-button (click) = "abacaxi()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "abac()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local2"><b> Bebidas</b></p>
       <p class = "local"> <b> Coca Cola 2L ---  R$ 10,00</b> <br> 
        <ion-button (click) = "coca2()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "co2()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Coca Cola 1L ----  R$ 6,00</b> <br> 
        <ion-button (click) = "coca1()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "ca1()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Roller 2L ---------  R$ 7,00</b> <br> 
        <ion-button (click) = "roler2()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "ro2()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Roller 1L ---------  R$ 4,00</b> <br> 
        <ion-button (click) = "roler1()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "ler1()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Sprite 2L -------  R$ 10,00</b> <br> 
        <ion-button (click) = "sprite2()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "te2()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Sprite 1L --------  R$ 6,00</b> <br> 
        <ion-button (click) = "sprite1()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "spri1()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Fanta 2L -------  R$ 10,00</b> <br> 
        <ion-button (click) = "fanta2()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "fan2()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Fanta 1L --------  R$ 6,00</b> <br> 
        <ion-button (click) = "fanta1()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "fan1()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Kuat 2L --------  R$ 10,00</b> <br> 
        <ion-button (click) = "kuat2()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "kua2()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Kuat 1L ---------  R$ 6,00</b> <br> 
        <ion-button (click) = "kuat1()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "kua1()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Poty 2L ----------  R$ 7,00</b> <br> 
        <ion-button (click) = "poty2()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "pot2()" color = "danger" >Excluir</ion-button> </p>
       
       <p class = "local"> <b> Poty 1L ---------  R$ 4,00</b> <br> 
        <ion-button (click) = "poty1()" color = "green">Comprar</ion-button> 
        <ion-button  (click) = "pot1()" color = "danger" >Excluir</ion-button> </p>

       
       
       
        <ion-button (click) = "somar()" color = "green">Somar</ion-button> 
        <br>
      <ion-label class = "local2"> Total = {{soma.toFixed(2)}}</ion-label>
      <br>
      <br>

      <ion-button href = "/pedido"  class = " final" color = "green" >Finalizar Pedido</ion-button>
      <br>
      <br>
      <ion-button href = "/home" class = "final" color = "green" >Cancelar Pedido</ion-button>
     
      <br>
      
        
        
      </div>
  
</ion-content>
