<ion-header>
  
</ion-header>
<img  class = "topo" src = "assets/imagem/topo.jpg">
<ion-content>

  <div class = "fundo3" expand = "full">  
    <br>
    <p class = "pronto">Endereço de Entrega</p>
    <br>
    <ion-item>
      <ion-label  class = "" position = "floating" color = "#">Rua</ion-label>
      <ion-input  type = "string"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label  class = "" position = "floating" color = "#">Número</ion-label>
      <ion-input  type = "string"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label  class = "" position = "floating" color = "#">Bairro</ion-label>
      <ion-input  type = "string"></ion-input>
    </ion-item>
 
    <br>
    <ion-button href = "/finalizar" class = "final" color = "green" >Confirmar Dados de Entrega </ion-button>
    <br>
    <ion-button href = "/cardapio" class = "final" color = "green" >Retornar ao Pedido </ion-button>
    
    
  </div>

</ion-content>
