.finalizar{
color:black;
text-align: center center;
font-family: Times New Roman;
font-size: 20px;
margin-left: px; 
}

.final{
    text-align: justify;
    font-family: Times New Roman;
    margin-left: 2.5px;   
   }

   .pronto{

    font-family: Times New Roman;
    font-size: 30px;
    margin-left: 12px; 
    }

  